<div class="row">
  <div class="col-sm-6">
    <h2 class="inline">
      {{name}}
    </h2>

    {{#if active}}
      <span class="label label-success">Live</span>
    {{else}}
      <span class="label label-default">Offline</span>
    {{/if}}
  </div>

  <div class="col-sm-6">
    {{#if active}}
      <a {{action 'joinSession' user}} class="btn btn-primary btn-sm pull-right">
        Join Session
      </a>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{#if viewers.isFulfilled}}
      <ul class="list-unstyled">
        {{#each viewers}}
          <li>{{name}}</li>
        {{else}}
          <li>No Viewers</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
