<div class="row">
  <div class="col-sm-6">
    <h2 class="inline">
      {{name}}
    </h2>

    {{#if started}}
      <span class="label label-success">Live</span>
    {{else}}
      <span class="label label-default">Offline</span>
    {{/if}}
  </div>

  <div class="col-sm-6">
    {{#if active}}
      <a {{action 'joinSession' user}} class="btn btn-primary btn-sm pull-right">
        Join Session
      </a>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
    <p>{{summary}}</p>
    {{scheduledStart}}
  </div>

  <div class="col-sm-3">
    <div class="viewers-list panel panel-default">
      <div class="panel-body">
        Participating Viewers
      </div>

      <div class="list-group">
        {{#if viewers.isFulfilled}}
          {{#each viewers}}
            {{#link-to 'index' class='list-group-item'}}
              {{name}} <i class="fa fa-comment enabled pull-right"></i>
            {{/link-to}}
          {{else}}
            <div class="list-group-item no-viewers">
              No Viewers
            </div>
          {{/each}}
        {{else}}
          Loading..
        {{/if}}
      </div>
    </div>
  </div>
</div>
